numpy
pandas
scipy
pyyaml
tqdm
joblib

xarray
dask[complete]
netCDF4
h5netcdf

rasterio
rioxarray
geopandas
shapely
pyproj
fiona
pyogrio

scikit-learn
xgboost
shap

matplotlib
seaborn

jupyter
ipykernel

cdsapi
folium
branca
pyarrow